body{
	background: #9E2469; 
	color:#dcc7d3; 
	font-family: 'Open Sans', sans-serif;
}

a{
	color:#b581ac;
}

li{
	font-family: 'Cutive', serif;
	font-size: 25px;
}



ul li{
	padding-right: 10px;  
	width:210px;
}

li a{
	display:block;
}

form{
	padding-top: 30px; 
}


img{
	padding-top: 20px;
}
